@import "~bootstrap/scss/bootstrap";

.wrapper-info{
  background-color: azure;  
}

.wrapper-info h1{
  text-align: center;
}

.img-info {
  text-align: center;
}

.img-info img {
  width: 70%;
}

.img-info p {
  padding: 15px  260px;
}


.wrapper-menu h1{
  text-align: center;
}
.wrapper-contact h1 {
  text-align: center;
}
.wrapper-contact {
  background-color: darkseagreen;
}